<div class="panel panel-default">
   <div class="panel-heading"><h3>{{ title }}</h3></div>
   <div class="panel-body">
      <table class="table table-striped">
      <tr>
        <th>Status</th><th>Arrival</th><th>Departure</th><th>Size</th><th>Price</th><td></td>
      </tr>
      <tr *ngFor="let moor of moors">
        <td>{{moor.status}}</td>
        <td class="text-nowrap">{{moor.arrival}}</td>
        <td class="text-nowrap">{{moor.departure}}</td>
        <td>{{moor.size}} {{moor.sizeunit}}</td>
        <td>{{moor.currency}} {{moor.price}}</td>
        <td>X</td>
      </tr>
    </table>
  </div>
</div>